@using BookstoreProject.Firestore_Database;
@{
    ViewBag.Title = "Bookcopymanagement";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
    List<Copy> copies = ViewBag.ListCopy;
    string bookId = ViewBag.BookId;
    Copy copy = ViewBag.CopyId;

    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0px;
    }

    table {
        border-collapse: collapse;
        width: 30%;
        margin-top: 5px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 2px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .buttons {
        margin-top: 20px;
        text-align: center;
    }

        .buttons button {
            margin-right: 10px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 14px;
        }

            .buttons button:hover {
                background-color: #0056b3;
            }


    /* CSS cho bảng */
    #library-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        #library-table th, #library-table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #library-table th {
            background-color: #f2f2f2;
        }

    /* CSS cho tiêu đề */
    h4 {
        text-align: left;
        padding-top: 10px;
    }

    h2 {
        text-align: center;
        margin-top: 5px;
        background-color: #FF6A6A;
        padding: 5px;
        color: white;
    }
</style>

<h2>Quản Lí Bản Sao Sách</h2>
<h4>Thông tin bản sao sách (Thêm)</h4>
<form action="~/Admin/AddBookCopy" method="post">
    <table>
        <tr>
            <th>ID sách</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>
        </tr>

        <tr>
            <td>
                <select name="bookId">
                    @foreach(Book book in BookstoreProjectDatabase.books)
                    {
                        <option value="@book.getId()">@book.getId()</option>
                    }
                </select>
            </td>
            <td>
                <select name="status">
                    <option value="Còn">Còn</option>
                    <option value="Cho mượn">Cho mượn</option>
                    <option value="Mất">Mất</option>
                    <option value="Hỏng">Hỏng</option>
                </select>
            </td>
            <td><input name="notes" type="text"></td>
        </tr>

        <tr>
            <td><input type="submit" value="Thêm"></td>
        </tr>

    </table>
</form>


<form action="~/Admin/LoadCopy" method="post">
    <table>
        <tr>
            <th>ID sách</th>
        </tr>
        <tr>
            <td>
                <select name="idBook">
                    @foreach (Book book in BookstoreProjectDatabase.books)
                    {
                        <option value="@book.getId()">@book.getId()</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Lọc"></td>
        </tr>
    </table>
</form>

<form action="~/Admin/LoadInfoCopy" method="post">
    @if (!string.IsNullOrEmpty(bookId))
    {
        <table>
            <tr>
                <th>ID bản sao</th>
                <th>ID sách</th>
            </tr>
            <tr>
                <td>
                    <select name="id">
                        @foreach (Copy copy1 in copies)
                        {
                            <option value="@copy1.getId()">@copy1.getId()</option>
                        }
                    </select>
                </td>
                <td><input name="bookId" type="text" value="@bookId" disabled="true"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Lấy"></td>
            </tr>
        </table>
    }
</form>

<form action="~/Admin/UpdateBookCopy" method="post">
    @if (!string.IsNullOrEmpty(bookId) && copy.getId() != "")
    {
        <table>
            <tr>
                <th>STT</th>
                <th>ID sách</th>
                <th>Trạng thái</th>
                <th>Ghi chú</th>
                <th></th>

            </tr>
            <tr>
                <td><input name="id" type="text" value="@copy.getId()" disabled="true"></td>
                <td><input name="bookId" type="text" value="@bookId" disabled="true"></td>
                <td>
                    <select name="status">
                        @switch (copy.getNotes())
                        {
                             case "Còn":
                                <option value="Còn" selected ="true">Còn</option>
                                <option value="Cho mượn">Cho mượn</option>
                                <option value="Mất">Mất</option>
                                <option value="Hỏng">Hỏng</option>
                                break;
                            case "Cho mượn":
                                <option value="Còn">Còn</option>
                                <option value="Cho mượn" selected="true">Cho mượn</option>
                                <option value="Mất">Mất</option>
                                <option value="Hỏng">Hỏng</option>
                                break;
                            case "Mất":
                                <option value="Còn">Còn</option>
                                <option value="Cho mượn">Cho mượn</option>
                                <option value="Mất" selected="true">Mất</option>
                                <option value="Hỏng">Hỏng</option>
                                break;
                            case "Hỏng":
                                <option value="Còn">Còn</option>
                                <option value="Cho mượn">Cho mượn</option>
                                <option value="Mất">Mất</option>
                                <option value="Hỏng" selected="true">Hỏng</option>
                                break;
                        }
                    </select>
                </td>
                <td><input name="note" type="text" value="@copy.getNotes()"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Cập nhật"></td>
            </tr>


        </table>
    }
</form>
 

<form action="~/Admin/DeleteBookCopy" method="post">
    @if (!string.IsNullOrEmpty(bookId))
    {
        <table>
            <tr>
                <th>STT</th>
                <th>ID sách</th>

            </tr>
            <tr>
                @foreach (Copy copy1 in copies)
                {
                    <select name="id">
                        <option value="@copy1.getId()">@copy1.getId()</option>
                    </select>
                }
                <td><input name="bookId" type="text" value="@bookId" disabled="true"></td>
            </tr>

            <tr>
                <td><input type="submit" value="Xóa"></td>
            </tr>

        </table>
    }
</form>

<h4>Bảng thông tin bản sao sách</h4>
<table id="library-table">
    <thead>
        <tr>
            <th>STT</th>
            <th>ID sách</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>      
        </tr>

        @foreach (Copy copy1 in BookstoreProjectDatabase.copies)
        {
            <tr>
                <th>@copy1.getId()</th>
                <th>@copy1.getBookId()</th>
                <th>@copy1.getStatus()</th>
                <th>@copy1.getNotes()</th>
            </tr>
        }
    </thead>

</table>