@using BookstoreProject.Firestore_Database;
@{
    ViewBag.Title = "Bookcopymanagement";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";

    string bookId = "";
    bookId = ViewBag.bookId;
    Copy currentCopy = new Copy();
    currentCopy = ViewBag.currentCopy;
    List<Copy> copies = new List<Copy>();
    copies = ViewBag.copies;
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0px;
    }

    table {
        border-collapse: collapse;
        width: 30%;
        margin-top: 5px;
    }

    th, td {
        border: 1px solid #ccc;
        padding: 2px;
        text-align: center;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .buttons {
        margin-top: 20px;
        text-align: center;
    }

        .buttons button {
            margin-right: 10px;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            font-size: 14px;
        }

            .buttons button:hover {
                background-color: #0056b3;
            }


    /* CSS cho bảng */
    #library-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        #library-table th, #library-table td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        #library-table th {
            background-color: #f2f2f2;
        }

    /* CSS cho tiêu đề */
    h4 {
        text-align: left;
        padding-top: 10px;
    }

    h2 {
        text-align: center;
        margin-top: 5px;
        background-color: #FF6A6A;
        padding: 5px;
        color: white;
    }
</style>

<h2>Quản Lí Bản Sao Sách</h2>
<h4>Thông tin bản sao sách (Thêm)</h4>
<form action="~/Admin/AddBookCopy" method="post">
    <table>
        <tr>
            <th>ID sách</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>
            <th></th>
        </tr>

        <tr>
            <td>
                <select name="bookId">
                    @foreach(Book book in BookstoreProjectDatabase.books)
                    {
                        <option value="@book.getId()">@book.getId()</option>
                    }
                </select>
            </td>
            <td>
                <select name="status">
                    <option value="Còn">Còn</option>
                    <option value="Cho mượn">Cho mượn</option>
                    <option value="Mất">Mất</option>
                    <option value="Hỏng">Hỏng</option>
                </select>
            </td>
            <td><input name="notes" type="text"></td>
            <td><input type="submit" value="Thêm"></td>
        </tr>

    </table>
</form>

<form action="~/Admin/LoadCopy" method="post">
    <table>
        <tr>
            <th>Id Sách</th>
            <th></th>
        </tr>
        <tr>
            @if (string.IsNullOrEmpty(bookId))
            {
                Console.WriteLine("bookId " + bookId);
                <td>
                    <select name="bookId">
                        @foreach (Book book in BookstoreProjectDatabase.books)
                        {
                            <option value="@book.getId()">@book.getId() - @book.getTitle()</option>
                        }
                    </select>

                </td>
            }
            else
            {
                Console.WriteLine("bookId " + bookId);
                Console.WriteLine("copies " + copies.Count());
                <td>
                    <select name="bookId">
                        @foreach (Book book in BookstoreProjectDatabase.books)
                        {
                            if (bookId.Equals(book.getId()))
                            {
                                <option value="@book.getId()" selected>@book.getId() - @book.getTitle()</option>
                            }
                            else
                            {
                                <option value="@book.getId()">@book.getId() - @book.getTitle()</option>
                            }
                        }
                    </select>
                </td>
            }
            <td>
                <input type="submit" value="Lọc"/>
            </td>
        </tr>
    </table>
</form>

@if (copies.Count > 0)
{
    <form action="~/Admin/LoadInfoCopy" method="post">
        <table>
            <tr>
                <th>Id Sách</th>
                <th>Id Bản Sao</th>
                <th></th>
            </tr>
            <tr>
                @{
                    Console.WriteLine("bookId " + bookId);
                    Console.WriteLine("copies " + copies.Count());
                    <td><input name="bookId" value="@bookId" readonly /></td>

                    @if (string.IsNullOrEmpty(currentCopy.getId()))
                    {
                        <td>
                            <select name="id">
                                @foreach (Copy copy in copies)
                                {
                                    <option value="@copy.getId()">@copy.getId()</option>
                                }
                            </select>
                        </td>
                    }
                    else
                    {
                        currentCopy = ViewBag.currentCopy;
                        Console.WriteLine("currentCopy " + currentCopy.getId());
                        <td>
                            <select name="id">
                                @foreach (Copy copy in copies)
                                {
                                    if (currentCopy.getId().Equals(copy.getId()))
                                    {
                                        <option value="@copy.getId()" selected>@copy.getId()</option>

                                    }
                                    else
                                    {
                                        <option value="@copy.getId()">@copy.getId()</option>

                                    }
                                }
                            </select>
                        </td>
                    }
                }
                <td>
                    <input type="submit" name="button" value="Lấy thông tin" />
                    <input type="submit" name="button" value="Xóa" />
                </td>
            </tr>
        </table>
    </form>
}
@if (!string.IsNullOrEmpty(currentCopy.getId()))
{
    <form action="~/Admin/UpdateBookCopy" method="post">
        <table>
            <tr>
                <th>ID sách</th>
                <th>ID bản sao</th>
                <th>Trạng thái</th>
                <th>Ghi chú</th>
                <th></th>
            </tr>
            <tr>
                <td><input name="bookId" value="@currentCopy.getBookId()" readonly /></td>
                <td><input name="id" value="@currentCopy.getId()" readonly /></td>
                <td>
                    <select name="status">
                        @switch (currentCopy.getStatus())
                        {
                            case "Còn":
                                <option value="Còn" selected>Còn</option>
                                <option value="Cho mượn">Cho mượn</option>
                                <option value="Mất">Mất</option>
                                <option value="Hỏng">Hỏng</option>
                                break;
                            case "Cho mượn":
                                <option value="Còn">Còn</option>
                                <option value="Cho mượn" selected>Cho mượn</option>
                                <option value="Mất">Mất</option>
                                <option value="Hỏng">Hỏng</option>
                                break;
                            case "Mất":
                                <option value="Còn">Còn</option>
                                <option value="Cho mượn">Cho mượn</option>
                                <option value="Mất" selected>Mất</option>
                                <option value="Hỏng">Hỏng</option>
                                break;
                            case "Hỏng":
                                <option value="Còn">Còn</option>
                                <option value="Cho mượn">Cho mượn</option>
                                <option value="Mất">Mất</option>
                                <option value="Hỏng" selected>Hỏng</option>
                                break;
                        }
                    </select>
                </td>
                <td><input name="notes" type="text" value="@currentCopy.getNotes()"></td>
                <td><input name="send" type="submit" value="Cập nhật"></td>
            </tr>
        </table>
    </form>
}
<h4>Bảng thông tin bản sao sách</h4>
<table id="library-table">
    <thead>
        <tr>
            <th>STT</th>
            <th>ID sách</th>
            <th>Trạng thái</th>
            <th>Ghi chú</th>      
        </tr>

        @foreach (Copy copy1 in BookstoreProjectDatabase.copies)
        {
            <tr>
                <th>@copy1.getId()</th>
                <th>@copy1.getBookId()</th>
                <th>@copy1.getStatus()</th>
                <th>@copy1.getNotes()</th>
            </tr>
        }
    </thead>

</table>