@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
    List<Book> books = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.books;
    List<Genre> genres = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.genres;
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
}

<div class="homePage">
    <div class="container-lg d-flex flex-column">
        <div class="title"></div>
        <div class="products">
            @if (books.Count > 10)
            {
                for (int i = 0; i < 10; i++)
                {
                    List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(books[i].getId(), "Còn");
                    string status = copies.Count > 0 ? "Còn" : "Hết";
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img src="@books[i].getUrlImage()" /></div>
                        <div class="title">@books[i].getTitle()</div>
                        <div class="price">Trạng thái: @status</div>
                    </div>
                }
            }
            else
            {
                foreach (var book in books)
                {
                    List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(book.getId(), "Còn");
                    string status = copies.Count > 0 ? "Còn" : "Hết";
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img src="@book.getUrlImage()" /></div>
                        <div class="title">@book.getTitle()</div>
                        <div class="price">Trạng thái: @status</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
