@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAd.cshtml";
    List<Book> books = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.books;
    List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.copies;
    List<Genre> genres = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.genres;
    <link rel="stylesheet" type="text/css" href="~/css/admin.css">
}

<div class="homePage">
    <div class="container-lg d-flex flex-column">
        <div class="title"></div>
        <div class="products">
            @if (books.Count > 10)
            {
                for (int i = 0; i < 10; i++)
                {
                    int count = 0;
                    if (copies.Count > 0)
                        foreach (Copy cop in copies)
                            if (cop.getStatus().Equals("Còn") && cop.getBookId().Equals(books[i].getId()))
                                count++;

                    string status = count > 0 ? "Còn" : "Hết";
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img src="@books[i].getUrlImage()" /></div>
                        <div class="title">@books[i].getTitle()</div>
                        <div class="price">Trạng thái: @status</div>
                    </div>
                }
            }
            else
            {
                foreach (var book in books)
                {
                    int count = 0;
                    if (copies.Count > 0)
                        foreach (Copy cop in copies)
                            if (cop.getStatus().Equals("Còn") && cop.getBookId().Equals(book.getId()))
                                count++;

                    string status = count > 0 ? "Còn" : "Hết";
                    <div class="prod-item d-flex flex-column">
                        <div class="image"><img src="@book.getUrlImage()" /></div>
                        <div class="title">@book.getTitle()</div>
                        <div class="price">Trạng thái: @status</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
