@{
    List<Book> books = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.books;
    List<Book> booksSorted = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.booksAfterSorted;
    List<Genre> genres = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.genres;
    ViewData["Title"] = "Trang chủ";
}


<div class="layoutCS">
    <div class="titlePage">
        <div class="container-lg">
            <p>Trang chủ</p>
        </div>
    </div>

    <div class="homePage">
        <div class="container-lg d-flex flex-column">
            <div class="banner">
                Banner
            </div>

            <div class="categorySection">
                <div class="categories">
                    <div class="categoriesIn">
                        <a class="catItem">
                            <span>
                                Những cuốn sách phổ biến
                            </span>
                        </a>
                    </div>
                </div>

                <div class="products" style="background-color:white">
                    @if (books.Count > 10)
                    {
                        for (int i = 0; i < 10; i++)
                        {
                            List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(books[i].getId(), "Còn");
                            string status = copies.Count > 0 ? "Còn" : "Hết";
                            <div class="prod-item d-flex flex-column">
                                @* <div class="image"><img style="object-fit:cover;width:100%;height:100%" src="@books[i].getUrlImage()" /></div> *@
                                <a href="@Url.Action("Details", "Home", new { id = books[i].getId() })">
                                    <div class="image">
                                        <img style="object-fit: cover; width: 100%; height: 100%;" src="@books[i].getUrlImage()" />
                                    </div>
                                    <div class="title">@books[i].getTitle()</div>
                                    <div class="price">Trạng thái: @status</div>
                                </a>
                            </div>

                            <style>
                                .prod-item {
                                    display: flex;
                                    flex-direction: column;
                                    border: 1px solid #ddd;
                                    padding: 10px;
                                    margin: 10px;
                                    background-color: #fff;
                                    width: 200px;
                                    position: relative;
                                }

                                .image img {
                                    max-width: 100%;
                                    height: auto;
                                }

                                .title {
                                    font-size: 16px;
                                    font-weight: bold;
                                    margin-top: 10px;
                                }

                                .price {
                                    font-size: 14px;
                                    color: #f00;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    background-color: rgba(255, 255, 255, 0.8); /* Để làm nền cho giá và làm cho nó dễ đọc */
                                    padding: 5px;
                                    text-align: left;
                                }

                                .btn {
                                    background-color: #007bff;
                                    color: #fff;
                                    padding: 5px 10px;
                                    text-decoration: none;
                                    display: inline-block;
                                    margin-top: 10px;
                                    border-radius: 5px;
                                    text-align: center;
                                    transition: background-color 0.3s ease;
                                }

                                    .btn:hover {
                                        background-color: #0056b3;
                                    }
                            </style>
                        }
                    }
                    else
                    {
                        foreach (var book in books)
                        {
                            List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(book.getId(), "Còn");
                            string status = copies.Count > 0 ? "Còn" : "Hết";
                            <div class="prod-item d-flex flex-column">
                                <a href="@Url.Action("Details", "Home", new { id = book.getId()})">

                                    <div class="image">
                                        <img style="object-fit: cover; width: 100%; height: 100%;" src="@book.getUrlImage()" />
                                    </div>
                                    <div class="title">@book.getTitle()</div>
                                    <div class="price">Trạng thái: @status</div>
                                </a>

                            </div>
                        }
                    }
                    <div class="moreSection">
                        <a id="showMore" class="moreButton" href="~/Home/LoadBooksAll">More</a>
                        @* <a class="moreButton">@Html.ActionLink("Xem thêm", "SignIn", "Home", null, new { @class = "nav-link"}) *@
                    </div>
                </div>
            </div>


            <div class="categorySection">
                <div class="categories">
                    <div class="categoriesIn">
                        <a class="catItem">
                            <span>
                                Xu hướng đọc
                            </span>
                        </a>
                    </div>
                </div>
                <div class="products" style="background-color:white">
                    @if (booksSorted.Count > 10)
                    {
                        for (int i = 0; i < 10; i++)
                        {
                            List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(books[i].getId(), "Còn");
                            string status = copies.Count > 0 ? "Còn" : "Hết";
                            <div class="prod-item d-flex flex-column">
                                <a href="@Url.Action("Details", "Home", new { id = books[i].getId() })">
                                    <div class="image">
                                        <img style="object-fit: cover; width: 100%; height: 100%;" src="@booksSorted[i].getUrlImage()" />
                                    </div>
                                    <div class="title">@booksSorted[i].getTitle()</div>
                                    <div class="price">Trạng thái: @status</div>
                                </a>
                            </div>
                        }

                    }
                    else
                    {
                        foreach (var book in booksSorted)
                        {
                            List<Copy> copies = BookstoreProject.Firestore_Database.BookstoreProjectDatabase.LoadCopiesWithBookId(book.getId(), "Còn");
                            string status = copies.Count > 0 ? "Còn" : "Hết";
                            <div class="prod-item d-flex flex-column">
                                <a href="@Url.Action("Details", "Home", new { id = book.getId() })">

                                    <div class="image">
                                        <img style="object-fit: cover; width: 100%; height: 100%;" src="@book.getUrlImage()" />
                                    </div>
                                    <div class="title">@book.getTitle()</div>
                                    <div class="price">Trạng thái: @status</div>
                                </a>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

